<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypc.appdoctintuc_nhom53">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App đọc tin tức"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HotroActivity" />
        <activity android:name=".Webview" />
        <activity android:name=".Dstintuc" />
        <activity android:name=".Webview_doctintuc" />
        <activity android:name=".Lichsu" />
        <activity android:name=".ManhinhMaytinh_HT" />
        <activity android:name=".game_hotro"></activity>
    </application>

</manifest>